
<div id="global-nav">
    <div id="nav-menu">
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle" id="nav-button">
            <span id="nav-icon"></span>
        </label>
        <div id="nav-bg">&nbsp;</div>
        <nav>
            <ul id="nav-list">
                <li class="nav-item"><a routerLink="/home" class="rlink">Home</a></li>
                <li class="nav-item"><a routerLink="/login" class="rlink">Login</a></li>
                <li class="nav-item"><a routerLink="/register" class="rlink">Register</a></li>
                <li class="nav-item"><a routerLink="/about" class="rlink">About</a></li>
                <li class="nav-item"><a class="rlink">Site Map</a></li>
            </ul>
        </nav>
    </div>
</div>
