
<div id="global-nav">
    <div id="logo">
        <a routerLink="/home" class="rlink"><span id="app-icon">H</span></a>
    </div>
    <div id="nav-menu">
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle" id="nav-button">
            <span id="nav-icon"></span>
        </label>
        <div id="nav-bg">&nbsp;</div>
        <nav>
            <ul id="nav-list">
                <li class="nav-item">01 Item 1</li>
                <li class="nav-item">02 Item 2</li>
                <li class="nav-item">03 Item 3</li>
                <li class="nav-item">04 Item 4</li>
            </ul>
        </nav>
    </div>
</div>
