
<div id="global-nav">
    <!--<div id="logo">
        <a routerLink="/home" class="rlink"><span id="app-icon">H</span></a>
    </div>-->
    <div id="nav-menu">
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle" id="nav-button">
            <span id="nav-icon"></span>
        </label>
        <div id="nav-bg">&nbsp;</div>
        <nav>
            <ul id="nav-list">
                <li class="nav-item"><a routerLink="/home" class="rlink">Home</a></li>
                <li class="nav-item">01 Login</li>
                <li class="nav-item">02 Register</li>
                <li class="nav-item">03 Site Map</li>
                <li class="nav-item"><a routerLink="/about" class="rlink">04 About</a></li>
            </ul>
        </nav>
    </div>
</div>
