
<app-global-nav></app-global-nav>
<div id="auth-component">
    <form>
        <div class="form-input">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" [(ngModel)]="username" required>
        </div>

        <div class="form-input">
            <label for="pwd">Password</label>
            <input type="password" name="password" id="pwd" [(ngModel)]="password" required>
        </div>

        <input type="submit" value="Login" class="btn btn-submit" (onClick)="submitCredentials()">
    </form>
</div>
