
@import '../shared/css/variables.scss';
@import '../shared/css/common-components.scss';

#auth-component {
    form {
        box-sizing: boder-box;
        font-size: 1.5rem;
        width: 30vw;
        min-width: 300px;
        background-color: rgba($color-dark, .2);
        padding: 4rem;
        border-radius: 1rem;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        & .form-input {
            box-sizing: border-box;
            label {
                font-weight: bold;
                padding: .5rem;
            }

            input {
                display: block;
                padding: .5rem;
                width: 100%;

                border: 2px solid $primary-color-dark;
                border-radius: 1rem;
            }

            &:nth-child(n + 2) {
              margin-top: 2rem;
            }
        }

        & .btn-submit {
            color: $primary-color-dark;
            padding: .5rem;
            margin-top: 4rem;
            border: 2px solid $primary-color-dark;
            border-radius: 1rem;
        }
    }
}

@media (orientation: portrait) {
    #auth-component form {
        width: 80vw;
    }
}



