/* You can add global styles to this file, and also import other style files */

@import './app/shared/css/variables.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1;
}
 
body {
    font-family: 'Courier', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $primary-color-dark;
    padding: 1rem;
    min-width: 520px;

    & a:link, a:visited, a:active {
        text-decoration: none;
        color: $primary-color-light;
    }
}

