<div id="home-component">
     <div id="logo">
        <a routerLink="/home" class="rlink"><span id="app-icon">H</span></a>
    </div>
    <div id="nav-menu">
        <input type="checkbox" id="nav-toggle" />
        <label for="nav-toggle" id="nav-button">
            <span id="nav-icon"></span>
        </label>
        <div id="nav-bg">&nbsp;</div>
        <nav>
            <ul id="nav-list">
                <li class="nav-item">01 Item 1</li>
                <li class="nav-item">02 Item 2</li>
                <li class="nav-item">03 Item 3</li>
                <li class="nav-item">04 Item 4</li>
            </ul>
        </nav>
    </div>
    <div id="home-poster">
        <span id="poster-title">{{title}}</span>
    </div>
    <div id="article-grid">
        <div class="article-card" *ngFor="let article of articles">
            <h1 class="article-card-title">{{article.title}}</h1>
            <p class="article-card-desc">{{article.description}}</p>
            <br/>
            <a [routerLink]="['/article', article.id]" class="rlink">...</a>
        </div>
    </div>
</div>
