
@media (min-width: 1000px) and (orientation: landscape) {
    #home-poster {
        height: 95vh;
    }

    #poster-title {
        font-size: 7rem;
        letter-spacing: 0.8rem;
    }

    #article-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-auto-rows: minmax(6rem, auto);
    }
}

@media (min-width: 520px) and (orientation: portrait) {
    #home-poster {
        height: 30vh;
    }

    #poster-title {
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }
}
/*
#logo {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 100;
}
*/
a.rlink {
    text-decoration: none;
}
/*
.rlink #app-icon {
    color: #555555;
    font-family: sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked ~ #nav-bg {
    transform: scale(150);
}

#nav-toggle:checked ~ nav {
    opacity: 1;
    width: 100%;
}

#nav-button {
    background-color: #AAAAAA;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    text-align: center;
    cursor: pointer;
    z-index: 200;
}

#nav-icon {
    position: relative;
    margin-top: 1.5rem;
}

#nav-icon, #nav-icon::before, #nav-icon::after {
    width: 1.5rem;
    height: 3px;
    background-color: #777777;
    display: inline-block;
    transition: all .3s;
}

#nav-icon::before, #nav-icon::after {
    content: "";
    position: absolute;
    left: 0;
}

#nav-icon::before {
    top: -.5rem;
}

#nav-icon::after {
    top: .5rem;
}

#nav-toggle:checked + #nav-button #nav-icon {
    background-color: transparent;
}

#nav-toggle:checked + #nav-button #nav-icon::before {
    top: 0;
    transform: rotate(135deg);
}

#nav-toggle:checked + #nav-button #nav-icon::after {
    top: 0;
    transform: rotate(-135deg);
}

#nav-bg {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-image: radial-gradient(#777, #333);
    position: fixed;
    top: 2.1rem;
    right: 2.1rem;
    z-index: 100;
    transition: transform .8s;
}

nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;

    opacity: 0;
    width: 0;
}

#nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.nav-item {
    line-height: 1;
    font-size: 3rem;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin: 1rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #CCC 50%);
    background-size: 520%;
    transition: all .6s;
}

.nav-item:hover,.nav-item:active {
    background-position: 100%;
    color: #000000;
}
*/
#home-poster {
    background: linear-gradient(to right bottom, #777777, #FFFFFF);
    position: relative;
}

#poster-title {
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#article-grid {
    padding: 0.5rem;
}

.rlink {
    text-decoration: none;
    padding: 0.3rem 0.2rem 0;
    margin-top: 0.2rem;
    color: grey;
}

.article-card {
    padding: 1rem;
}
