<div id="home-component">
    <app-global-nav></app-global-nav>
    <div id="home-poster">
        <span id="poster-title">{{title}}</span>
    </div>
    <div id="article-grid">
        <div class="article-card" *ngFor="let article of articles">
            <h1 class="article-card-title">{{article.title}}</h1>
            <p class="article-card-desc">{{article.description}}</p>
            <br/>
            <a [routerLink]="['/article', article.id]" title="Read more" class="rlink">...</a>
        </div>
    </div>
</div>
