
@media (min-width: 1000px) and (orientation: landscape) {
    #home-poster {
        height: 95vh;
    }

    #poster-title {
        font-size: 7rem;
        letter-spacing: 0.8rem;
    }

    #article-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-auto-rows: minmax(6rem, auto);
    }
}

@media (min-height: 800px) and (orientation: portrait) {
    #home-poster {
        height: 30vh;
    }

    #poster-title {
        font-size: 3rem;
        letter-spacing: 1rem;
    }
}

#home-poster {
    background: linear-gradient(to right bottom, #777777, #FFFFFF);
    position: relative;
}

#poster-title {
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#article-grid {
    padding: 0.5rem;
}

.rlink {
    text-decoration: none;
    padding: 0.3rem 0.2rem 0;
    margin-top: 0.2rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    color: grey;
}

